<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.AddressManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.AddressManagement">
        <id column="id" property="id" />
        <result column="linkman" property="linkman" />
        <result column="sex" property="sex" />
        <result column="telepone" property="telepone" />
        <result column="district" property="district" />
        <result column="detailed_address" property="detailedAddress" />
        <result column="tag" property="tag" />
        <result column="default_address" property="defaultAddress" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
