<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.BrowseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.Browse">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="text_description" property="textDescription" />
        <result column="real_price" property="realPrice" />
        <result column="selling_price" property="sellingPrice" />
        <result column="is_visiting_service" property="isVisitingService" />
    </resultMap>
    <delete id="deleteBrowse">
        delete  from w_user_browse where user_id=#{id}
    </delete>

</mapper>
