<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.UserCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.UserCollect">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="user_id" property="userId" />
        <result column="goods_id" property="goodsId" />
        <result column="menu_id" property="menuId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <update id="myDeleteBatchIds" parameterType="list">
        delete from w_user_collect where id in
        <foreach collection="ids" item="id"   open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <delete id="deleteCollectType">

    </delete>
    <delete id="delete0">
        delete from w_user_collect where goods_id=#{id} and user_id=#{userId} and type=0
    </delete>
    <delete id="delete1">
         delete from w_user_collect where goods_id=#{id} and user_id=#{userId} and type=1
    </delete>
    <delete id="delete2">
         delete from w_user_collect where menu_id=#{id} and user_id=#{userId} and type=2
    </delete>
    <delete id="delete3">
        delete from w_user_collect where shop_id=#{id} and user_id=#{userId} and type=3
    </delete>

</mapper>
