<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.Goods">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="images" property="images" />
        <result column="goods_type_id" property="goodsTypeId" />
        <result column="title" property="title" />
        <result column="effect" property="effect" />
        <result column="introduce_images" property="introduceImages" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="price" property="price" />
        <result column="type" property="type" />
        <result column="service_dot_id" property="serviceDotId" />
        <result column="service_time1" property="serviceTime1" />
        <result column="service_time2" property="serviceTime2" />
        <result column="price_strategy" property="priceStrategy" />
        <result column="text_description" property="textDescription" />
        <result column="photo_description" property="photoDescription" />
        <result column="phone" property="phone" />
    </resultMap>


    <select id="latelyGoods" resultType="com.jsy.domain.Goods">
        SELECT bak.id,bak.selling_price AS price , bak.`name` AS title ,bak.create_time FROM (
        SELECT id ,selling_price,`name`,create_time FROM w_set_menu WHERE create_time = (SELECT MAX(create_time) FROM w_set_menu WHERE shop_id=#{shopId}) AND deleted=0 AND state=1 AND shop_id=#{shopId}
        UNION 
        SELECT id, price,title, create_time FROM w_goods WHERE create_time = (SELECT MAX(create_time) FROM w_goods WHERE shop_id=#{shopId}) AND deleted=0 AND is_putaway=1 AND shop_id=#{shopId}
        )as bak
        ORDER BY bak.create_time DESC LIMIT 0,1
    </select>

</mapper>
