<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.GoodsSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.GoodsSpec">
        <id column="id" property="id" />
        <result column="gid" property="gid" />
        <result column="spec_name" property="specName" />
        <result column="spec_price" property="specPrice" />
        <result column="spec_status" property="specStatus" />
        <result column="spec_options" property="specOptions" />
        <result column="spec_images" property="specImages" />
    </resultMap>

</mapper>
