<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.GoodsTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.dto.GoodsTypeDTO">
        <result column="uuid" property="uuid" />
        <result column="name" property="name" />
        <collection property="basicList" ofType="com.jsy.domain.GoodsBasic">
            <result column="bid" property="uuid" />
            <result column="goods_type_uuid" property="goodsTypeUuid" />
            <result column="shop_uuid" property="shopUuid" />
            <result column="price" property="price" />
            <result column="status" property="status" />
            <result column="is_marketable" property="isMarketable" />
            <result column="title" property="title" />
            <result column="own_spec" property="ownSpec" />
            <result column="is_enable_spec" property="isEnableSpec" />
            <result column="images_url" property="imagesUrl" />
            <result column="stock" property="stock" />
            <result column="sales" property="sales"/>
            <result column="discount_price" property="discountPrice"/>
            <result column="discount_end_time" property="discountEndTime"/>
            <result column="discount_start_time" property="discountStartTime"/>
            <result column="discount_status" property="discountStatus"/>
        </collection>
    </resultMap>

    <select id="findGoodsType" resultMap="BaseResultMap">
        select t.uuid,t.name,g.uuid as bid,g.goods_type_uuid,g.shop_uuid
        ,g.price,g.status,g.is_marketable,g.title,g.own_spec
        ,g.is_enable_spec,g.images_url,g.stock,g.sales,g.discount_price,g.discount_end_time,g.discount_start_time,discount_status
        from t_goods_type t
        left JOIN t_goods_basic g
        on t.uuid = g.goods_type_uuid
        where t.shop_uuid = #{uuid} and g.shop_uuid = #{uuid} and g.status = '1' and g.is_marketable = '1'
    </select>

</mapper>
