<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.Goods">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="images" property="images" />
        <result column="goods_type_id" property="goodsTypeId" />
        <result column="title" property="title" />
        <result column="effect" property="effect" />
        <result column="introduce_images" property="introduceImages" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="price" property="price" />
        <result column="type" property="type" />
        <result column="service_dot_id" property="serviceDotId" />
        <result column="service_time1" property="serviceTime1" />
        <result column="service_time2" property="serviceTime2" />
        <result column="price_strategy" property="priceStrategy" />
        <result column="text_description" property="textDescription" />
        <result column="photo_description" property="photoDescription" />
        <result column="phone" property="phone" />
    </resultMap>


    <select id="latelyGoods" resultType="com.jsy.domain.Goods">
        SELECT bak.id,bak.real_price as price,bak.discount_state,bak.selling_price AS discount_price , bak.`name` AS title ,bak.create_time FROM (
        SELECT id,real_price, discount_state,selling_price,`name`,create_time FROM w_set_menu WHERE create_time = (SELECT MAX(create_time) FROM w_set_menu WHERE shop_id=#{shopId}) AND deleted=0 AND state=1 AND shop_id=#{shopId}
        UNION 
        SELECT id, price,discount_state,discount_price,title, create_time FROM w_goods WHERE create_time = (SELECT MAX(create_time) FROM w_goods WHERE shop_id=#{shopId}) AND deleted=0 AND is_putaway=1 AND shop_id=#{shopId}
        )as bak
        ORDER BY bak.create_time DESC LIMIT 0,1
    </select>
    <select id="NearTheService" resultType="com.jsy.dto.GoodsServiceDto">
        SELECT * FROM w_goods WHERE type=1 AND deleted=0 AND is_putaway=1 AND state=0 AND shop_id IN (
        SELECT
        id
        FROM
        w_new_shop t1
        WHERE
        round (
        (
        6378.138 * 2 * ASIN(
        SQRT(
        POW( SIN( ( #{query.latitude} * PI( ) / 180 - t1.latitude * PI( ) / 180 ) / 2 ), 2 ) + COS( #{query.latitude}  * PI( ) / 180 ) * COS( t1.latitude * PI( ) / 180 ) * POW( SIN( ( #{query.longitude} * PI( ) / 180 - t1.longitude * PI( ) / 180 ) / 2 ), 2 )
        )
        ) * 1000
        )
        ) &lt; 3000 AND t1.deleted=0 AND t1.state = 1 AND t1.shielding = 0 AND FIND_IN_SET(6,shop_tree_id)> 0
        )
    </select>


    <select id="NearTheService2" resultType="com.jsy.dto.GoodsServiceDto">
        SELECT *,(
        SELECT round (
        (
        6378.138 * 2 * ASIN(
        SQRT(
        POW( SIN( ( #{shopQuery.latitude} * PI( ) / 180 - t1.latitude * PI( ) / 180 ) / 2 ), 2 ) + COS( #{shopQuery.latitude}  * PI( ) / 180 ) * COS( t1.latitude * PI( ) / 180 ) * POW( SIN( ( #{shopQuery.longitude} * PI( ) / 180 - t1.longitude * PI( ) / 180 ) / 2 ), 2 )
        )
        ) * 1000
        )
        ) as d  from w_new_shop t1 where id = s.shop_id
        ) as distance

        FROM w_goods s WHERE type=1 AND deleted=0 AND is_putaway=1 AND state=0
        <if test="shopQuery.keyword !=null and shopQuery.keyword !=''">
            AND s.title LIKE CONCAT('%',#{shopQuery.keyword,jdbcType=VARCHAR},'%')
        </if>
        ORDER BY distance limit 0,5
    </select>



    <select id="sumGoodsSales" resultType="java.lang.Long">
        SELECT SUM(amount) as sums FROM w_order_goods WHERE  deleted=0  AND order_id IN (SELECT id FROM w_new_order WHERE server_code_status=1 AND deleted=0 and order_type=1) AND goods_id=#{goodsId}
    </select>
    <select id="sumServiceSales" resultType="java.lang.Long">
        SELECT SUM(amount) as sums FROM w_order_service WHERE  deleted=0  AND order_id IN (SELECT id FROM w_new_order WHERE server_code_status=1 AND deleted=0 and order_type=0) AND service_id=#{serviceId}
    </select>


</mapper>
