<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.PushGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.PushGoods">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="goods_type_id" property="goodsTypeId" />
        <result column="goods_type_name" property="goodsTypeName" />
        <result column="goods_number" property="goodsNumber" />
        <result column="title" property="title" />
        <result column="images" property="images" />
        <result column="price" property="price" />
        <result column="discount_price" property="discountPrice" />
        <result column="text_description" property="textDescription" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <select id="sumGoodsSales" resultType="java.lang.Long">
        SELECT SUM(amount) as sums FROM w_order_goods WHERE  deleted=0  AND order_id IN (SELECT id FROM w_new_order WHERE server_code_status=1 AND deleted=0 and order_type=1) AND goods_id=#{goodsId}
    </select>
    <select id="pageListPushGoods" resultType="com.jsy.domain.PushGoods">
        SELECT * FROM w_push_goods t1 WHERE
        round ( ( 6378.138 * 2 * ASIN( SQRT( POW( SIN( ( #{query.latitude} * PI( ) / 180 - t1.latitude * PI( ) / 180 ) / 2 ), 2 ) + COS( #{query.latitude} * PI( ) / 180 ) * COS( t1.latitude * PI( ) / 180 ) * POW( SIN( ( #{query.longitude} * PI( ) / 180 - t1.longitude * PI( ) / 180 ) / 2 ), 2 ) ) ) * 1000 ) ) &lt; 3000
        AND deleted=0
        and t1.push_type=1
        <if test="query.keyword !=null and query.keyword !=''">
            AND t1.title LIKE CONCAT('%',#{query.keyword,jdbcType=VARCHAR},'%')
        </if>
        AND t1.title LIKE CONCAT('%',#{query.keyword},'%')
    </select>

    <update id="setPushGoodsSort">
        UPDATE w_push_goods SET sort=sort+1 WHERE sort>=#{sort}
    </update>
    <update id="delPushGoodsSort">
        UPDATE w_push_goods SET sort=sort-1 WHERE sort>#{sort}
    </update>

    <select id="outPushGoodsSort" >
        delete from w_push_goods where goods_id=#{goodsId}
    </select>

</mapper>
