<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.ShoppingCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.ShoppingCart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="shop_id" property="shopId" />
        <result column="goods_id" property="goodsId" />
        <result column="set_menu_id" property="setMenuId" />
        <result column="images" property="images" />
        <result column="title" property="title" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="price" property="price" />
        <result column="discount_price" property="discountPrice" />
        <result column="num" property="num" />
        <result column="discount_state" property="discountState" />
        <result column="is_set_menu" property="isSetMenu" />
        <result column="is_visiting_service" property="isVisitingService" />
    </resultMap>

</mapper>
