<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.NewOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.NewOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="shop_id" property="shopId"/>
        <result column="order_num" property="orderNum"/>
        <result column="order_status" property="orderStatus"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_status" property="payStatus"/>
        <result column="pay_time" property="payTime"/>
        <result column="bill_month" property="billMonth"/>
        <result column="bill_num" property="billNum"/>
        <result column="bill_rise" property="billRise"/>
        <result column="comment_status" property="commentStatus"/>
        <result column="order_type" property="orderType"/>
        <result column="appointment_status" property="appointmentStatus"/>
        <result column="consumption_way" property="consumptionWay"/>
        <result column="order_all_price" property="orderAllPrice"/>
        <result column="shipping_address" property="shippingAddress"/>
        <result column="start_time" property="startTime"/>
        <result column="ent_time" property="entTime"/>
        <result column="serve_code" property="serveCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--    映射selectAllOrderByBackstage-->
    <resultMap id="selectAllOrderByBackstage" type="com.jsy.vo.SelectAllOrderByBackstageVo">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="shop_id" property="shopId"/>
        <result column="order_num" property="orderNum"/>
        <result column="pay_time" property="payTime"/>
        <result column="consumption_way" property="consumptionWay"/>
        <result column="order_all_price" property="orderAllPrice"/>
        <result column="linkman" property="linkman"/>
        <result column="server_code_status" property="serverCodeStatus"/>
        <result column="appointment_status" property="appointmentStatus"/>
        <result column="comment_status" property="commentStatus"/>
        <result column="pay_status" property="payStatus"/>
        <result column="order_status" property="orderStatus"/>
        <result column="refund_apply_role" property="refundApplyRole"/>

        <collection property="orderGoodsList" ofType="com.jsy.vo.OrderGoodsVO">
            <id column="gid" property="id"/>
            <result column="gcreate_time" property="createTime"/>
            <result column="gamount" property="amount"/>
            <result column="gtitle" property="title"/>
            <result column="gprice" property="price"/>
            <result column="gdiscount_price" property="discountPrice"/>
            <result column="gdiscount_state" property="discountState"/>
            <result column="gimages" property="images"/>
            <result column="ggoods_id" property="goodsId"/>
        </collection>
        <collection property="orderSetMenuList" ofType="com.jsy.vo.OrderSetMenuVO">
            <id column="mid" property="id"/>
            <result column="mcreate_time" property="createTime"/>
            <result column="morder_id" property="orderId"/>
            <result column="mmenu_id" property="menuId"/>
            <result column="mname" property="name"/>
            <result column="mreal_price" property="realPrice"/>
            <result column="mselling_price" property="sellingPrice"/>
            <result column="mdiscount_state" property="discountState"/>
            <result column="mimages" property="images"/>
            <result column="mamount" property="amount"/>
        </collection>
        <collection property="orderServiceList" ofType="com.jsy.vo.OrderServiceVO">
            <id column="sid" property="id"/>
            <result column="screate_time" property="createTime"/>
            <result column="simages" property="images"/>
            <result column="stitle" property="title"/>
            <result column="sprice" property="price"/>
            <result column="sdiscount_price" property="discountPrice"/>
            <result column="sdiscount_state" property="discountState"/>
            <result column="samount" property="amount"/>
            <result column="sservice_id" property="serviceId"/>
        </collection>
    </resultMap>

    <!--sql片段-->
    <sql id="timeCondition">
        <if test="startTime != null">
            AND ord.create_time &gt; #{startTime}
        </if>
        <if test="endTime != null">
            AND ord.create_time &lt; #{endTime}
        </if>

    </sql>

    <!--  0待消费、1已完成、2商家退款中、3商家已退款、4官方退款中5、官方已退款-->
    <!--    &#45;&#45; 待消费（已经支付，没有验卷，预约成功）-->
    <!--    &#45;&#45; 已完成（已经支付，已经验卷，预约成功，已经评价）-->
    <!--    &#45;&#45; 商家退款中（支付状态为退款中，预约成功,退款角色为商家）-->
    <!--    &#45;&#45;商家已退款 （支付状态为退款成功，预约成功,退款角色为商家）-->
    <!--    &#45;&#45; 官方退款中（支付状态为退款中，预约成功,退款角色为官方）-->
    <!--    &#45;&#45; 官方已退款（支付状态为退款成功，预约成功,退款角色为官方）-->
    <!-- sql片段-->
    <sql id="orderStatus">
        <if test="status == 0">

            AND ord.pay_status =1 and ord.server_code_status=0 and ord.appointment_status=1
        </if>
        <if test="status == 1">

            AND ord.pay_status=1 and ord.server_code_status=1 and ord.appointment_status=1 and ord.comment_status=1
        </if>
        <if test="status == 2">

            AND ord.pay_status=2 and ord.appointment_status=1 and ord.refund_apply_role=0

        </if>
        <if test="status == 3">

            AND ord.pay_status=3 and ord.appointment_status=1 and ord.refund_apply_role=0
        </if>
        <if test="status == 4">

            AND ord.pay_status=2 and ord.appointment_status=1 and ord.refund_apply_role=1

        </if>
        <if test="status == 5">

            AND ord.pay_status=3 and ord.appointment_status=1 and ord.refund_apply_role=1
        </if>
        <if test="status == 6">

            AND ord.appointment_status=1 and ord.pay_status!=0
        </if>
    </sql>


    <select id="selectAllOrderByBackstage" resultMap="selectAllOrderByBackstage"
            parameterType="com.jsy.query.SelectAllOrderMapperParam">
        select o.id,
        o.user_id,
        o.shop_id,
        o.order_num,
        o.order_status,/**/
        o.pay_type,
        o.pay_status,/**/
        o.pay_time,
        o.bill_month,
        o.bill_num,
        o.bill_rise,
        o.comment_status,/**/
        o.order_type,
        o.appointment_status,/**/
        o.consumption_way,
        o.order_all_price,
        o.shipping_address,
        o.start_time,
        o.ent_time,
        o.server_code_status,/**/
        o.refund_apply_role,
        o.serve_code,
        o.create_time,


        g.id as gid,
        g.create_time as gcreate_time,
        g.amount as gamount,
        g.title as gtitle,
        g.price as gprice,
        g.discount_price as gdiscount_price,
        g.discount_state as gdiscount_state,
        g.images as gimages,
        g.goods_id as ggoods_id,

        m.id as mid,
        m.create_time as mcreate_time,
        m.order_id as morder_id,
        m.menu_id as mmenu_id,
        m.name as mname,
        m.real_price as mreal_price,
        m.selling_price as mselling_price,
        m.discount_state as mdiscount_state,
        m.images as mimages,
        m.amount as mamount,


        s.id as sid,
        s.create_time as screate_time,
        s.images as simages,
        s.title as stitle,
        s.price as sprice,
        s.discount_price as sdiscount_price,
        s.discount_state as sdiscount_state,
        s.amount as samount,
        s.service_id as sservice_id


        from (SELECT * FROM w_new_order as ord
        <where>
            <include refid="timeCondition"></include>
            <include refid="orderStatus"></include>
        </where>


        limit #{start},#{end} ) as o
        LEFT JOIN w_order_goods as g on g.order_id = o.id
        LEFT JOIN w_order_service as s on s.order_id = o.id
        LEFT JOIN w_order_set_menu as m on m.order_id = o.id

    </select>

    <!--——————————————————————————————————————————————————————————————————————————————————————————————————————————————————————-->
    <!--    (0全部（预约已经成功，已经支付）,1超时警告,2售后管理,3已完成,4新的预约，5预约完成,6预约失败-->

    <sql id="selectOrderStatusByShop">
        <if test="status == 0">

            ord.deleted=1 and ord.shop_id=#{shopId}
            or(ord.deleted=0 and ord.shop_id=#{shopId})
        </if>

        <if test="status == 1">/*1超时警告*/
            ord.pay_status=1
            and ord.server_code_status=0
            and ord.appointment_status=1
            and ord.start_time &lt; (select now())
            and ord.ent_time &gt; (select now())
            and(ord.deleted=0 and ord.shop_id=#{shopId})
            or
            ord.pay_status=1
            and ord.server_code_status=0
            and ord.appointment_status=1
            and ord.start_time &lt; (select now())
            and ord.ent_time &gt; (select now())
            and(ord.deleted=1 and ord.shop_id=#{shopId})
        </if>
        <if test="status == 2">/*2售后管理*/

            ord.pay_status!=1
            and ord.pay_status!=0
            and (ord.deleted=0 and ord.shop_id=#{shopId})
            or
            ord.pay_status!=1
            and ord.pay_status!=0
            and (ord.deleted=1 and ord.shop_id=#{shopId})
        </if>
        <if test="status == 3">/*3已完成*/
            ord.pay_status=1
            and ord.appointment_status=1
            and ord.server_code_status=1
            and (ord.deleted=0 and ord.shop_id=#{shopId})
            or
            ord.pay_status=1
            and ord.appointment_status=1
            and ord.server_code_status=1
            and (ord.deleted=1 and ord.shop_id=#{shopId})
        </if>
        <if test="status == 4">/*4新的预约*/
            ord.appointment_status=0
            and ord.pay_status=0
            and ord.server_code_status=0
            and (ord.deleted=0 and ord.shop_id=#{shopId})
            or
            ord.appointment_status=0
            and ord.pay_status=0
            and ord.server_code_status=0
            and (ord.deleted=1 and ord.shop_id=#{shopId})
        </if>
        <if test="status == 5">/*5预约完成*/
            ord.appointment_status=1
            and ord.pay_status=0
            and ord.server_code_status=0
            and (ord.deleted=0 and ord.shop_id=#{shopId})
            or
            ord.appointment_status=1
            and ord.pay_status=0
            and ord.server_code_status=0
            and (ord.deleted=1 and ord.shop_id=#{shopId})
        </if>
        <if test="status == 6">/*6预约失败*/
            ord.appointment_status=2
            and ord.pay_status=0
            and ord.server_code_status=0
            and (ord.deleted=0 and ord.shop_id=#{shopId})
            or
            ord.appointment_status=2
            and ord.pay_status=0
            and ord.server_code_status=0
            and (ord.deleted=1 and ord.shop_id=#{shopId})

        </if>
    </sql>
    <resultMap id="selectShopOrder2" type="com.jsy.dto.SelectShopOrderDto">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_id" property="userId"/>
        <result column="shop_id" property="shopId"/>
        <result column="order_num" property="orderNum"/>
        <result column="pay_time" property="payTime"/>
        <result column="consumption_way" property="consumptionWay"/>
        <result column="order_all_price" property="orderAllPrice"/>
        <result column="linkman" property="linkman"/>
        <result column="server_code_status" property="serverCodeStatus"/>
        <result column="appointment_status" property="appointmentStatus"/>
        <result column="comment_status" property="commentStatus"/>
        <result column="pay_status" property="payStatus"/>
        <result column="order_status" property="orderStatus"/>
        <result column="refund_apply_role" property="refundApplyRole"/>
        <result column="start_time" property="startTime"/>
        <result column="ent_time" property="entTime"/>
        <result column="bill_month" property="billMonth"/>
        <result column="bill_num" property="billNum"/>
        <result column="bill_rise" property="billRise"/>
        <result column="sex" property="sex"/>
        <result column="telepone" property="telepone"/>
        <result column="district" property="district"/>
        <result column="detailed_address" property="detailedAddress"/>
        <result column="shipping_address" property="shippingAddress"/>
        <collection property="orderGoodsDtos" ofType="com.jsy.dto.SelectUserOrderGoodsDto">
            <id column="gid" property="id"/>
            <result column="gcreate_time" property="createTime"/>
            <result column="gamount" property="amount"/>
            <result column="gtitle" property="title"/>
            <result column="gprice" property="price"/>
            <result column="gdiscount_price" property="discountPrice"/>
            <result column="gdiscount_state" property="discountState"/>
            <result column="gimages" property="images"/>
            <result column="ggoods_id" property="goodsId"/>
        </collection>
        <collection property="orderMenuDtos" ofType="com.jsy.dto.SelectUserOrderMenuDto">
            <id column="mid" property="id"/>
            <result column="mcreate_time" property="createTime"/>
            <result column="morder_id" property="orderId"/>
            <result column="mmenu_id" property="menuId"/>
            <result column="mname" property="name"/>
            <result column="mreal_price" property="realPrice"/>
            <result column="mselling_price" property="sellingPrice"/>
            <result column="mdiscount_state" property="discountState"/>
            <result column="mimages" property="images"/>
            <result column="mamount" property="amount"/>
        </collection>
        <collection property="orderServiceDtos" ofType="com.jsy.dto.SelectUserOrderServiceDto">
            <id column="sid" property="id"/>
            <result column="screate_time" property="createTime"/>
            <result column="simages" property="images"/>
            <result column="stitle" property="title"/>
            <result column="sprice" property="price"/>
            <result column="sdiscount_price" property="discountPrice"/>
            <result column="sdiscount_state" property="discountState"/>
            <result column="samount" property="amount"/>
            <result column="sservice_id" property="serviceId"/>
        </collection>


    </resultMap>


    <select id="selectShopOrder2" parameterType="com.jsy.query.SelectShopOrderParam" resultMap="selectShopOrder2">


        select o.id,
        o.user_id,
        o.shop_id,
        o.order_num,
        o.order_status,/**/
        o.pay_type,
        o.pay_status,/**/
        o.pay_time,
        o.bill_month,
        o.bill_num,
        o.bill_rise,
        o.comment_status,/**/
        o.order_type,
        o.appointment_status,/**/
        o.consumption_way,
        o.order_all_price,
        o.shipping_address,
        o.start_time,
        o.ent_time,
        o.server_code_status,/**/
        o.refund_apply_role,
        o.serve_code,
        o.create_time,
        o.update_time,
        o.detailed_address,
        o.telepone,

        g.id as gid,
        g.create_time as gcreate_time,
        g.amount as gamount,
        g.title as gtitle,
        g.price as gprice,
        g.discount_price as gdiscount_price,
        g.discount_state as gdiscount_state,
        g.images as gimages,
        g.goods_id as ggoods_id,

        m.id as mid,
        m.create_time as mcreate_time,
        m.order_id as morder_id,
        m.menu_id as mmenu_id,
        m.name as mname,
        m.real_price as mreal_price,
        m.selling_price as mselling_price,
        m.discount_state as mdiscount_state,
        m.images as mimages,
        m.amount as mamount,


        s.id as sid,
        s.create_time as screate_time,
        s.images as simages,
        s.title as stitle,
        s.price as sprice,
        s.discount_price as sdiscount_price,
        s.discount_state as sdiscount_state,
        s.amount as samount,
        s.service_id as sservice_id


        from (SELECT * FROM w_new_order as ord
        <where>
            <include refid="selectOrderStatusByShop"></include>
        </where>
        ORDER BY ord.update_time DESC
        limit #{page},#{size}
        ) as o
        LEFT JOIN w_order_goods as g on ( g.order_id = o.id and g.deleted=0 ) or (g.order_id = o.id and g.deleted=1)
        LEFT JOIN w_order_service as s on (s.order_id = o.id and s.deleted=0) or (s.order_id = o.id and s.deleted=1)
        LEFT JOIN w_order_set_menu as m on (m.order_id = o.id and m.deleted=0) or (m.order_id = o.id and m.deleted=1)

    </select>

    <select id="selectShopOrder2Conut" parameterType="com.jsy.query.SelectShopOrderParam" resultType="Integer">

        SELECT count(1) FROM w_new_order as ord
        <where>
            <include refid="selectOrderStatusByShop"></include>
        </where>



    </select>



</mapper>
