<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.NewShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.NewShop">
        <id column="id" property="id" />
        <result column="owner_uuid" property="ownerUuid" />
        <result column="city" property="city" />
        <result column="shop_name" property="shopName" />
        <result column="mobile" property="mobile" />
        <result column="shop_logo" property="shopLogo" />
        <result column="business_img" property="businessImg" />
        <result column="business_number" property="businessNumber" />
        <result column="company_name" property="companyName" />
        <result column="shop_username" property="shopUsername" />
        <result column="shop_phone" property="shopPhone" />
        <result column="shop_cid_Zimg" property="shopCidZimg" />
        <result column="shop_cid_Fimg" property="shopCidFimg" />
        <result column="id_name" property="idName" />
        <result column="id_number" property="idNumber" />
        <result column="bank_images" property="bankImages" />
        <result column="bank_number" property="bankNumber" />
        <result column="deposit_bank" property="depositBank" />
        <result column="branch_bank" property="branchBank" />
        <result column="aliPay" property="aliPay" />
        <result column="weChat" property="weChat" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />

        <result column="distance" property="distance" />
        <result column="shielding" property="shielding" />
    </resultMap>
    <!-- 当月入驻商家 -->
    <select id="newShopAudit" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM w_new_shop s
        where 1 = 1
          and s.state=#{state}
        <if test="startDate != null and endDate != null and startDate != '' and endDate != ''">
            AND DATE_FORMAT(create_time, "%Y-%m-%d")
            BETWEEN DATE_FORMAT(#{startDate,jdbcType=VARCHAR}, "%Y-%m-%d")
            AND DATE_FORMAT(#{endDate,jdbcType=VARCHAR}, "%Y-%m-%d")
        </if>

<!--        WHERE s.create_time>=#{startDate} AND s.create_time <= #{endDate} AND s.state=#{state}-->
    </select>
    <select id="mainSearch" resultType="com.jsy.domain.NewShop">
        SELECT * FROM w_new_shop WHERE shop_name LIKE CONCAT("%",#{keyword},"%") AND deleted = 0 AND shielding=0
         UNION
        SELECT s.* FROM w_goods g LEFT JOIN w_new_shop s ON g.shop_id=s.id WHERE g.title like CONCAT("%",#{keyword},"%")
        AND g.is_putaway=1 AND g.state=0 AND g.deleted = 0 AND s.deleted=0 AND s.shielding=0
         UNION
        SELECT s.* FROM w_set_menu g LEFT JOIN w_new_shop s ON g.shop_id=s.id WHERE g.name like CONCAT("%",#{keyword},"%")
        AND g.is_disable=0 AND g.state=1  AND g.deleted = 0 AND s.deleted=0 AND s.shielding=0
    </select>
<!-- 查询距离 -->
    <select id="selectAddress" resultType="com.jsy.domain.NewShop">
        SELECT
        *,
        round (
        (
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN( ( #{latitude} * PI( ) / 180 - t1.latitude * PI( ) / 180 ) / 2 ),
        2
        ) + COS( #{latitude} * PI( ) / 180 ) * COS( t1.latitude * PI( ) / 180 ) * POW(
        SIN( ( #{longitude} * PI( ) / 180 - t1.longitude * PI( ) / 180 ) / 2 ),
        2
        )
        )
        ) * 1000
        )
        )  as distance
        from  w_new_shop t1  WHERE
        round (
        (
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN( ( #{latitude} * PI( ) / 180 - t1.latitude * PI( ) / 180 ) / 2 ),
        2
        ) + COS( #{latitude} * PI( ) / 180 ) * COS( t1.latitude * PI( ) / 180 ) * POW(
        SIN( ( #{longitude} * PI( ) / 180 - t1.longitude * PI( ) / 180 ) / 2 ),
        2
        )
        )
        ) * 1000
        )
        )
        &lt;=3000
        AND t1.state=1
        AND t1.deleted=0
        AND t1.shielding=0
        AND FIND_IN_SET(#{treeId},t1.shop_tree_id)
        order by distance

    </select>

    <select id="selectNewShopPage" resultType="com.jsy.parameter.NewShopBackstageDto">
        select * from w_new_shop s where deleted=0
        <if test="shopQuery.state !=null and shopQuery.state !=''">
            AND s.state= #{shopQuery.state,jdbcType=INTEGER}
        </if>
        <if test="shopQuery.shielding !=null and shopQuery.shielding !=''">
            AND s.shielding= #{shopQuery.shielding,jdbcType=INTEGER}
        </if>
        <if test="shopQuery.keyword !=null and shopQuery.keyword!=''">
            AND s.shop_name LIKE CONCAT('%',#{shopQuery.keyword,jdbcType=VARCHAR},'%')
        </if>
    </select>
    <select id="selectHot" resultType="com.jsy.dto.NewShopHotDto">
        SELECT id,shop_id,title,images,price,discount_price,discount_state,service_characteristics_ids,pv_num,CONCAT(type) as type FROM w_goods
        WHERE id IN
              (
                  SELECT id FROM sv_num
                  UNION
                  SELECT id FROM pv_num
              )
        UNION
        SELECT id,shop_id,name,images,real_price,selling_price,discount_state,service_characteristics_ids,pv_num,CONCAT(2) as type FROM w_set_menu
        WHERE id IN
              (
                  SELECT id FROM sv_num
                  UNION
                  SELECT id FROM pv_num
              )

    </select>
<!--店铺名称和法人姓名-->
      <select id="selectAuitPage" resultType="com.jsy.parameter.NewShopBackstageDto">
        select * from w_new_shop s where deleted=0
        <if test="shopQuery.state !=null">
            AND s.state= #{shopQuery.state,jdbcType=INTEGER}
        </if>
<!--        <if test="shopQuery.shielding !=null and shopQuery.shielding !=''">-->
<!--            AND s.shielding= #{shopQuery.shielding,jdbcType=INTEGER}-->
<!--        </if>-->
        <if test="shopQuery.keyword !=null and shopQuery.keyword!=''">
            AND s.shop_name LIKE CONCAT('%',#{shopQuery.keyword,jdbcType=VARCHAR},'%')
            OR s.shop_username LIKE CONCAT('%',#{shopQuery.keyword,jdbcType=VARCHAR},'%')
        </if>
    </select>
    <select id="getMedicalShop" resultType="com.jsy.domain.NewShop">
        SELECT
            *,
            round (
                    (
                            6378.138 * 2 * ASIN(
                                SQRT(
                                            POW(
                                                    SIN( ( #{shopQuery.latitude} * PI( ) / 180 - t1.latitude * PI( ) / 180 ) / 2 ),
                                                    2
                                                ) + COS( #{shopQuery.latitude} * PI( ) / 180 ) * COS( t1.latitude * PI( ) / 180 ) * POW(
                                                SIN( ( #{shopQuery.longitude} * PI( ) / 180 - t1.longitude * PI( ) / 180 ) / 2 ),
                                                2
                                            )
                                    )
                            ) * 1000
                        )
                )  as distance
        from  w_new_shop t1
        RIGHT JOIN  w_shop_tree s  on SUBSTRING_INDEX(t1.shop_tree_id, ',',  -1)  = s.id
        WHERE  t1.state=1
            AND t1.deleted=0
            AND t1.shielding=0
            AND  FIND_IN_SET(#{shopQuery.treeId},t1.shop_tree_id)
        <if test="shopQuery.shopName !=null and shopQuery.shopName !=''">
            AND t1.shop_name LIKE CONCAT('%',#{shopQuery.shopName,jdbcType=VARCHAR},'%')
            OR s.name Like CONCAT('%',#{shopQuery.shopName,jdbcType=VARCHAR},'%')
        </if>
        order by distance
    </select>

</mapper>
