<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.ShopRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.ShopRecord">
        <id column="id" property="id" />
        <result column="shop_uuid" property="shopUuid" />
        <result column="turn_to" property="turnTo" />
        <result column="turn_way" property="turnWay" />
        <result column="create_time" property="createTime" />
        <result column="state_id" property="stateId" />
    </resultMap>

</mapper>
