<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.ShopInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.ShopInfo">
        <id column="id" property="id" />
        <result column="tid" property="tid" />
        <result column="name" property="shopName" />
        <result column="business_license" property="businessImg" />
        <result column="mobile" property="mobile" />
        <result column="status" property="status" />
        <result column="address_detail" property="addressDetail" />
        <result column="shop_username" property="shopUsername" />
        <result column="shop_phone" property="shopPhone" />
        <result column="shop_cid" property="shopCidZimg" />
        <result column="shop_images" property="shopImages1" />
        <result column="shop_describe" property="shopDescribe" />
        <result column="creat_time" property="creatTime" />
    </resultMap>

<!--    <resultMap id="ShopConditon" type="com.jsy.vo.ShopInfoVo">-->
<!--        <id column="id" property="id"></id>-->
<!--        <result column="name" property="name"></result>-->
<!--        <collection property="basicList" ofType="com.jsy.domain.GoodsBasic">-->
<!--            <id column="id" property="id"></id>-->
<!--            <result column="title" property="title"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->

    <!--首页 根据关键字查询店铺或者商品名 并且在范围内-->
     <select id="selectByConditon" resultType="com.jsy.DO.ShopQueryDO">

        select g.uuid,g.title as name,g.shop_uuid as shopUuid,g.images_url as goodsImage,s.shop_logo as shopImage
        ,s.shop_name as shopName,'t_goods_basic' as tb
        FROM t_goods_basic g LEFT JOIN t_shop_info s on g.shop_uuid = s.uuid
        where g.title like concat("%",#{qurey.keyword},"%") and  s.latitude >= #{doublelist.minLat} and <![CDATA[s.latitude < #{doublelist.maxLat}]]>
        and s.longitude >= #{doublelist.minLng} and <![CDATA[s.longitude < #{doublelist.maxLng}]]>
        and s.status = '1'
        UNION
        select shop.uuid,shop.shop_name,shop.uuid,null,shop.shop_logo,shop.shop_name,'t_shop_info 'as tb
        FROM t_shop_info shop
        where shop.shop_name like concat("%",#{qurey.keyword},"%") and shop.latitude >= #{doublelist.minLat} and <![CDATA[shop.latitude < #{doublelist.maxLat}]]>
        and shop.longitude >= #{doublelist.minLng} and <![CDATA[shop.longitude < #{doublelist.maxLng}]]>
        and shop.status = '1'

    </select>


    <!--用户进入店铺-->
    <resultMap id="selectShopMap" type="com.jsy.dto.ShopInfoDTO">
        <result column="sid" property="uuid" />
        <result column="shop_type_uuid" property="shopTypeUuid" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="address_detail" property="addressDetail" />
        <result column="shop_username" property="shopUsername" />
        <result column="shop_phone" property="shopPhone" />
        <result column="shop_logo" property="shopLogo" />
        <result column="shop_images" property="shopImages" />
        <result column="shop_describe" property="shopDescribe" />
        <result column="monthly_sale" property="monthlySale"/>
        <result column="shop_hours" property="shopHours"/>
        <result column="shop_serve" property="shopServe"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <collection property="activityList" ofType="com.jsy.domain.Activity">
            <result column="aid" property="uuid"></result>
            <result column="ervery_sum" property="erverySum"/>
            <result column="reduce_num" property="reduceNum"/>
            <result column="active_name" property="name"/>
        </collection>
        <collection property="shopRedpacketList" ofType="com.jsy.domain.ShopRedpacket">
            <result column="srid" property="uuid"/>
            <result column="money" property="money"/>
            <result column="num" property="num"/>
        </collection>
    </resultMap>

    <select id="selectShop" resultMap="selectShopMap">
        select s.uuid as sid, s.shop_type_uuid,s.shop_name , s.mobile, s.address_detail, s.shop_username, s.shop_phone
        ,s.shop_hours,s.shop_serve, s.shop_logo, s.shop_images, s.shop_describe,s.longitude,s.latitude,s.monthly_sale,sr.uuid as srid, sr.money,sr.num
        ,a.uuid as aid, a.ervery_sum,a.reduce_num,a.name as active_name
        from t_shop_info s
        left join (select uuid,money,shop_uuid,deleted,num from t_shop_redpacket sr1 where sr1.deleted = 1) sr on s.uuid = sr.shop_uuid
        left join (select uuid,shop_uuid,ervery_sum,reduce_num,name,deleted from t_activity where deleted = 1 ) a on s.uuid = a.shop_uuid
        where s.uuid = #{uuid}
    </select>

<!--    根据用户经纬度和筛选条件分页显示附近店铺-->
    <select id="findAll" resultType="com.jsy.dto.ShopQueryDTO">
        select s.uuid ,s.shop_name as name ,s.shop_logo as images,s.shop_describe,s.star,s.address_detail as address
        ,s.longitude,s.latitude,s.shop_serve as shopServe ,s.shop_type_uuid
        from t_shop_info s
        <where>
        s.latitude >= #{doublelist.minLat} and <![CDATA[s.latitude <= #{doublelist.maxLat}]]>
        and s.longitude >= #{doublelist.minLng} and <![CDATA[s.longitude <= #{doublelist.maxLng}]]>
        and s.status = '1'
        <if test="query.shopScreen != null">
            <if test="query.shopScreen.star != null and query.shopScreen.star != ''">
                and s.star >= #{query.shopScreen.star}
            </if>
        </if>
        <if test="query.id != '' and query.id != null">
            AND s.shop_type_uuid LIKE CONCAT('%',#{query.id},'%')
        </if>
        </where>
    </select>

    <!--<foreach collection="idList" item="id" open="and s.shop_type_uuid in (" close=")" separator=",">
                #{id}
           </foreach>-->
    <!--/* = #{query.id}*/-->

    <select id="selectShopStar" resultType="com.jsy.DO.ShopStarDo">
        SELECT
            count( star ) as total,
            sum( star ) as star
        FROM
            t_comment
        WHERE
            goods_uuid IN (
            SELECT
                uuid
            FROM
                t_goods_basic
        WHERE
            shop_uuid = #{shopUuid})
    </select>


    <select id="selectShopStatus" resultType="java.lang.String">
        select s.status
        from mall.t_shop_info s
        where s.shop_phone = #{LoginPhone}
    </select>


    <select id="selectOrderByStar" resultType="com.jsy.dto.ShopQueryDTO">
        select s.uuid,s.shop_name as name ,s.shop_logo as images,s.shop_describe,
                s.star,s.address_detail as address
        from mall.t_shop_info s
        where
        s.latitude >= #{doublelist.minLat} and s.latitude &lt;= #{doublelist.maxLat}
        and s.longitude >= #{doublelist.minLng} and s.longitude &lt;= #{doublelist.maxLng}
        order by star desc
        limit 0,4;
    </select>


<!--   找到满足满减活动的商家-->
    <select id="selectByActive" resultType="com.jsy.dto.ShopActiveDTO">
        SELECT a.`name` as activityName,s.shop_logo,s.uuid,s.shop_name as name,s.longitude,s.latitude,s.address_detail as shopAddress
        from t_activity a
        LEFT JOIN t_shop_info s on a.shop_uuid = s.uuid
        WHERE
        s.latitude >= #{doublelist.minLat} and <![CDATA[s.latitude <= #{doublelist.maxLat}]]>
        and s.longitude >= #{doublelist.minLng} and <![CDATA[s.longitude <= #{doublelist.maxLng}]]>
        and s.status = '1'
        and a.deleted = '1'
        and a.begin_time &lt;= NOW() AND a.end_time &gt;= NOW()
    </select>

<!--查询商品总览数据-->
    <select id="overview" resultType="com.jsy.dto.GoodsOverViewDTO">
        SELECT count(is_marketable = '0') as outNum
        , count(is_marketable = '1') as onNum
        , count(id) as AllNum
        , (SELECT count(1) from t_goods_basic where stock &lt;= 10 and shop_uuid = #{uuid}) as lowStockNum
        from t_goods_basic
        where shop_uuid = #{uuid}
    </select>


</mapper>
