<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.TreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.Tree">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="img_path" property="imgPath" />
        <result column="ranks" property="ranks" />
    </resultMap>
    <update id="sortMenu">
        <foreach collection="list" item="var">
            update t_shop_tree  set ranks = #{var.ranks} where id = #{var.id} and parent_id= #{query.parentId} and deleted=0;
        </foreach>
    </update>
</mapper>
