<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.BusinessFeedappendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.BusinessFeedappend">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="order_uuid" property="orderUuid" />
        <result column="content_append" property="contentAppend" />
        <result column="has_picture" property="hasPicture" />
        <result column="pic_urls" property="picUrls" />
        <result column="append_time" property="appendTime" />
        <result column="type" property="type" />
    </resultMap>
</mapper>
