<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.BusinessFeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.BusinessFeedback">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="username" property="userName" />
        <result column="shop_name" property="shopName" />
        <result column="info_uuid" property="info_uuid" />
        <result column="user_uuid" property="userUuid" />
        <result column="message_uuid" property="messageUuid" />
        <result column="order_uuid" property="orderUuid" />
        <result column="phone" property="phone" />
        <result column="feed_type" property="feedType" />
        <result column="content" property="content" />
        <result column="has_pictue" property="hasPicture" />
        <result column="pic_urls" property="picUrls" />
        <result column="state" property="state" />
        <result column="creat_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="type" property="type" />
        <result column="append_type" property="appendType" />
    </resultMap>
    <update id="updateByOrderId">
        update t_business_feedback set append_type = 1 where order_uuid=#{order_uuid}
    </update>


</mapper>
