<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsy.mapper.BusinessHelpProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsy.domain.BusinessHelpProblem">
        <id column="uuid" property="uuid" />
        <result column="shop_uuid" property="shopUuid" />
        <result column="help_uuid" property="helpUuid" />
        <result column="creat_time" property="creatTime" />
    </resultMap>

</mapper>
